@import "tailwindcss";

:root {
  --bg-primary: #323232;
  --color-brd: #f59e0b;
  --text-color: #e5e5e5;
  --txt-color-secondary: #0a0a0a;
  --bg-search: #1a1a1a;
  --text-error: #f87171;
  --text-success: #40de80;
}
